/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #333;
  color: #fff;
}

main {
  display: flex;
}


/* Стили для каждой колонки */
.left-column,
.middle-column,
.right-column {
  height: 1000px;
  /* Устанавливаем высоту колонок (в данном случае 1000px) */
}

.left-column {
  background-color: #a72c2c;
  width: 20%;
  /* Левая колонка занимает 20% экрана */
}

.middle-column {
  background-color: #F5F5F5;
  width: 50%;
  /* Средняя колонка занимает 50% экрана */
}


.middle-column h1 {
  margin-top: 60px;
  margin-left: 70px;
  font-size: 45px;
}

.middle-column p {
  margin-top: 110px;
  margin-left: 70px;
  font-size: 35px;
}



.middle-column .form-check-input[type="radio"] {
  display: none;
  /* Скрыть стандартные радиокнопки */
}

.middle-column .form-check-label {
  cursor: pointer;
}

/* Создание квадратных кнопок */
.middle-column .form-check-input[type="radio"]+.form-check-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.40rem;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-left: 50px;
  margin-top: 20px;
}

/* Заполнение кнопок при выборе */
.middle-column .form-check-input[type="radio"]:checked+.form-check-label::before {
  background-color: #dba226;
}

#customRange1 {
  margin-left: 70px;
}

.right-column {
  background-color: #0A0A0A;
  width: 30%;
  /* Правая колонка занимает 30% экрана */
  color: #fff;
  padding: 20px;
  /* Добавим немного отступов для улучшения визуального восприятия */
}

.right-column p {
  margin-left: 130px;
  margin-top: 10px;
  color: #dba226;
  font-size: 40px;

}

.right-column h2 {
  margin-left: 130px;
  margin-top: 100px;
}


.right-column .btn {
  margin-top: 350px;
  /* Устанавливаем отступ сверху */
  margin-left: 130px;
  border-radius: 40px;
  height: 50px;
  width: 260px
}


#side-image {
  width: 100%;
  /* Использование всей доступной ширины контейнера */
  height: 100%;
  /* Использование всей доступной высоты контейнера */
  object-fit: cover;
  /* Изображение будет заполнять контейнер, сохраняя соотношение сторон */
  object-position: 5%;
}

#typeOfEstate {
  margin-top: 120px;
}

/* Общие стили */
.form-range-container {
  position: relative;
  /* Положение элементов относительно контейнера */
  width: 85%;
  margin-top: 50px;
}

/* Стили для ползунка */
.form-range {
  width: 100%;
  /* Ширина ползунка по размеру контейнера */
}

/* Стили для числового значения над ползунком */
.form-label {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  padding: 5px 10px;
  margin-left: 65px;
  white-space: nowrap;
  /* Предотвращает перенос строки */
}