#main2 {
  display: none;
}



section {
  height: 950px;
  margin: 0 !important;
}


#rangeSlide {
  width: 85%;
}

h1 {
  font-size: 3em !important;
}


#middleSection {
  background-color: #FFFFF0;
}

#middleDiv>div {
  margin-top: 100px;
}

#middleDiv>div:first-child {
  margin-top: 100px;
}

#middleDiv p {
  font-size: 2em;
}

.radio-label {
  position: relative;
  cursor: pointer;
  line-height: 15px;
  margin-top: 15px;
  padding: 0 0 0 30px;
}

.radio-label input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio-label::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #000000;
  border-radius: 15%;
  background: #FFF;
}

.radio-label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(226, 194, 50, 0.925);
  opacity: 0;
  transition: opacity 0.2s;
}

.radio-label input[type="radio"]:checked+.radio-label::after {
  opacity: 1;
}




#rangeSlide {
  width: 80%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range] {
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background-color: #000000;
}

input[type=range]::-webkit-slider-thumb {
  background: rgba(226, 194, 50);
  border-radius: 100%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  margin-top: -10px;
}


#backLink {
  opacity: 0.5;
  color: black;
  font-size: 1.5em !important;
  margin-top: 10px;
  cursor: pointer;
}


#sideImage {
  height: 100%;
}

@media (max-width: 767px) {
  #sideImage {
    height: 100%;
    width: 105%;
    object-fit: cover;

  }

  #leftSection {
    height: 120px;
    width: 100%;
  }

  #consultation {
    font-size: 1.2em !important;
  }

  h1 {
    font-size: 1.7em !important;
  }

  .questionTitle p {
    font-size: 1.3em !important;
  }

  #rightDiv>div {
    margin-top: 125px !important;
  }


}

#rightSection {
  background-color: #181818;
}

#rightDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rightDiv>div:not(:last-child) {
  margin-top: 150px;
}

#rightDiv> :last-child {
  margin-top: 320px;
}


#rightDiv p {
  font-size: 1.5em;
  color: rgba(226, 194, 50, 0.925);
}

#rightDiv h2 {
  font-size: 2em;
  color: #FFFFF0;
}

#consultationButton {
  border-radius: 50px;
}

#formContainer>div {
  padding-bottom: 25px;
}


.form-control {
  border-radius: 0px !important;
}

#radio-button-consult {
  display: flex;
  flex-direction: column;
}

.radio-label {
  font-size: 1.0em;
}




@media (max-width: 767px) {
  .radio-button-container {
    display: flex;
    flex-direction: column;
  }

  /* #backLink {
    display: none;
  } */
}